@tailwind base;
@tailwind components;
@tailwind utilities;


.doto {
    font-family: "Raleway Dots", sans-serif;
    font-optical-sizing: auto;
}

* {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
}

.debug {
    @apply border border-red-500
}

.text-glow {
    text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
}